@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;   
    font-family: "Roboto", sans-serif; 
}

header {
    width: 100%;
    height: 80px;
    background-color: #f9f9f9;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 100%;
}

.navbar_middle {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding-right: 10px;
}

.search_wrapper input {
    width: 500px;
    padding: 15px 15px;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.navbar_left {
    display: flex;
    gap: 20px;
}

.navbar_right {
    display: flex;
    gap: 20px;
}

.cart_container {
    background-color: #222222;
    border: 1px solid #222222;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.cart_container:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.icon_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.signIn_icon {
    font-size: 1.2rem;
    cursor: pointer;
}
.heart_icon {
       font-size: 1.5rem;
    cursor: pointer; 
}

.language_icon {
    position: relative;
    width: 25px;
    height: 25px;
}

.USAFlag, .GeorgianFlag {
    width: 25px;
    height: 25px;
}

.language_icon:hover .change_language_dropdown {
    display: block;
}

.change_language_dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    right: 0;
    width: 200px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: none;
    border-radius: 10px;
}

.language_dropdown {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language_en, .language_ge {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;

}

.all_categories_div {
    padding: 10px 30px;
    border: 1px solid #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.all_categories_div:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.popup_ovelay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}

.popup_container {
    height: 100%;
    width: 900px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    position: relative;
}

.hide_popup {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;    
    
}

.hide_popup:hover {
    color: red;
}

.categoryList {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.categoryList li {
    padding: 15px 10px 15px 30px;
    cursor: pointer;
}

.list_phone {
    display: flex;
    align-items: center;
    gap: 5px;
}

.popup_container {
    position: relative;
}

.phone_side_dropdown {
    display: none;
    width: 100px;
    height: 200px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.list_phone:hover .phone_side_dropdown {
    display: block;
}

.brand_list {
    list-style: none;
}

.brand_list li {
    font-size: 14px;
    color: #a5a5a5;
}



/* Footer */


footer {
    width: 100%;
    height: 300px;
    background-color: #26272b;
    margin-top: 100px;
}

.footer_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.footer_compmany, .footer_get_help, .footer_online_shop, .footer_follow_us {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_compmany h2, .footer_get_help h2, .footer_online_shop h2, .footer_follow_us h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 2px solid #904431;
    width: fit-content;
    font-weight: 400;
}

.footer_compmany ul, .footer_get_help ul, .footer_online_shop ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_compmany ul li, .footer_get_help ul li, .footer_online_shop ul li {
    color: #707175;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}

.social_media_icons {
    display: flex;
    gap: 20px;
}

.facebook, .twitter, .instagram, .linkedin {
    font-size: 1.3rem;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 100%;
    background-color: #505255;
    color: #fff;
    transition: all 0.3s ease-in-out; 
    cursor: pointer;
}

.facebook:hover, .twitter:hover, .instagram:hover, .linkedin:hover {
    background-color: #fff;
    color: #000;
}